{% extends "base.html.twig"%}
{% form_theme form "bootstrap_5_layout.html.twig" %}
{% block body %}
<form action="{{ path('event_create') }}" method="POST" novalidate>
    {{ form_widget(form) }}
    <button type="submit">Créer un évenement</button>
</form>
{% endblock body %}