{% extends 'base.html.twig' %}


{% block body %}
{% if error %}{{ dump(error.message) }}{% endif %}
<form action="{{ path('login') }}" method="post">
    <input type="text" id="username" name="_username" value="{{ last_username}}"  placeholder="Email"/>
    <input type="password" id="password" name="_password" />
    <button type="submit">S'identifier</button>
</form>
{% endblock %}
